html {
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
body {

  background-color: #ECEEF1;
  /* display: grid; */

}

a {
  text-decoration: none;
}

nav {

  height:60px;
  position:absolute;
  margin-left: 87rem;
  width: 200px;
  margin-top: -60px;


}

input {
  text-align: left;
  height: 34px;
  width: 95%;
  min-width: 160px;
  border-radius: 4px;
  padding-left: 10px;
  color: #000000;
  outline: none;
  font-size: 1.2em;
}

footer {
  text-align: center;
  text-decoration: none;
  color: #505050;
  position: absolute;
  margin-top: 62rem;
  margin-left: 19rem;

}


footer a {
  text-align: center;
  text-decoration: none;
  color: #505050;

}
.pindonga{
  margin-top:5rem;
}

.topSign {
  position:absolute;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  background: #0077C5;
  color: white;
  padding: 10px 20px;
  font-size: 1.125em;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10em;
  margin-top: -1.2em;
  width:150px;

  }

.alText {
  /* grid-column: 2;
  grid-row: 1; */
  padding-right: 1rem;
  /* justify-self: end; */
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 1.5;

}

.fPass{
  /* grid-column:2;
  grid-row: 1; */
  /* justify-self:end; */
  position:absolute;
  padding-right: 1rem;

  font-size: 12px;
  line-height: 1.5;
  margin-right:10px;
}

.links {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
  align-content: center;
  margin-right:  32rem;
  margin-left:   37rem;
  margin-bottom: 1.5rem;
  max-width: 380px;
  min-width: 380px;


}

.intuitLogo {
  place-self: center;
  grid-column: 2;
  grid-row: 1;
}

.mint {
  grid-column: 1;
  grid-row: 2;
  place-self:end;

}

.quickbooks {
  grid-column: 2;
  grid-row: 2;


}

.turbotax {
  grid-column: 3;
  grid-row: 2;
}

.EPP {
  text-align: left;
  font-size: 1.2em;
  }
.EPP2{

  text-align: left;
  text-indent: 10px;
  font-size: 0.9em;
}


.signIn {
  text-align: center;
  /* display: grid; */
  /* grid-template-columns: 1;
  grid-template-rows: 2;
  grid-gap: 1rem; */
  /* margin-top: -50px; */
  border-radius: 2px;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  margin-right: 32rem;
  margin-left:   37rem;
  min-width: 380px;
  max-width: 380px;


  background: #fff;
  overflow: visible;
  position:absolute;
}

.title{
  font-size: 18px;
  font-weight: 400;

}
.signIn > div {
  background: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* .signIn  p {
  font-size: 12px;
  line-height: 0.9;
} */

.signIn > div:last-child {
  background-color: #ECEEF1;
  /* padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem; */
  position: relative;
  font-style:italic;
  color: grey;
  text-align:center;
  padding: 1rem;

}





.reCAPTCHA {
  font-size: 0.8rem;
  font-style: italic;
  text-align:center;
  background-clip: content-box;

}
.createAccount::before{

  content: "\1F512";
  text-shadow: 0 0 0 blue;
  color: transparent;

  margin-right: 5px;

}


.createAccount{
  width: 340px;
  padding: 15px;
  background-color: #0077c5;
  color: #fff;
  border-radius: 10px;
  font-size: 1em;

}

.italicText {

  font-style:italic;
  color: grey;
  text-align:center;
}
