html {
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
body {
  background-color: #ECEEF1;
}
a {
  text-decoration: none;
}

nav {
  display: grid;
  grid-template-column: 5fr 1fr 1fr;
  justify-items: end;
}

.topSign {
  grid-column:2;
  grid-row: 1/3;
  button-padding: 10px 24px;
  border-radius: 4px;
  background: #0077C5;
}

.AlText {
grid-column: 1;


}

.fPass{
grid-column: 1;
}
.links {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;

  margin-right:  32rem;
  margin-left:   32rem;
}

.intuitLogo {

  grid-column: 2;
  grid-row: 1;
}

.mint {
  grid-column: 1;
  grid-row: 2;
}

.quickbooks {
  background: url("Images/quickboocks.png") no-repeat fixed center;
  grid-column: 2;
  grid-row: 2;

}

.turbotax {
  grid-column: 3;
  grid-row: 2;
}

.signIn {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #c7c7c7;
  margin-bottom: 10rem;
  margin-right: 32rem;
  margin-left:   32rem;

}


.createAccount{

  button-padding: 15px 48px;
  border-radius: 4px;
  background: #0077C5;
}
